body{
  margin: 0;
  display: grid;
  grid-template: 40px auto 1fr / 1fr auto 1fr;
  height: 100vh;
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --gameboard-background: rgb(54, 54, 54);
  background: var(--gameboard-background);
}

.scoreboard{
  width: 100%;
}

.scoreboard>span{
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}

.gameboard{
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gameboard-background);
}

div.grid{
  --gameboard-size: 200px;
  --grid-dimension : 3;
  width: var(--gameboard-size);
  height: var(--gameboard-size);
  grid-template: repeat(var(--grid-dimension), 1fr) / repeat(var(--grid-dimension), 1fr);
  display: grid;
  gap: calc(var(--gameboard-size) / var(--grid-dimension) / 10);
  background-color: white;
  font-size: calc(var(--gameboard-size) / 4);
  font-weight: 900;
  margin: 40px;
}

.grid>div{
  background-color:  var(--gameboard-background);
  font-size: calc(300% / var(--grid-dimension));
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  width: 400px;
  color: lavender;
  padding: 8px;
}

.announcement{
  display: flex;
  justify-content: center;
  align-self: center;
  border-bottom: 1px solid gray;
  padding: 0 0 18px 0;
}

input{
  opacity: 70%;
}

button{
  color: lavender;
  background-color: transparent;
  border: 1px solid lavender;
  border-radius: 3px;
  font-size: 16px;
}

form{
  display: flex;
  flex-direction: column;
}

input[type='text']{
  background-color: transparent;
  border: 1px solid gray;
  flex-grow: 1;
  font-size: 18px;
  color: white;
  padding-left: 4px;
  border-radius: 2px;
}

input[type='radio']{
  display: none;
}

.label-button{
  padding: 2px 10px;
  border-radius: 100px;
}
input[type='radio']:checked+label{
  background-color: rgb(20, 81, 150);
}

form>div{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 14px 0;
  background-color: var(--gameboard-background);
}

#total-cells{
  flex-grow: 1;
}

p{
  margin: 0;
}

span>*{
  display: inline;
}

.highlight-row{
  text-shadow: 0 0 5px white;
  color: yellow;
}

.highlight{
  text-shadow: 0 0 4px white;
  font-weight: 900;
}
